<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> @ViewBag.Title - ASM2</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="header col-xl-auto">
        <img src="https://ap.greenwich.edu.vn/FGW_logo_d.jpg" alt="Alternate Text" width="30%" height="20%" style="display: block; margin-left: auto !important; margin-right: auto !important;" />
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">@ViewBag.Title Page</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Manage Staff
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action( "CreateStaff", "Admin" )">Add a Staff</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action( "Index", "Admin" )">View all Staff</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Manage Trainer
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action( "CreateTrainer", "Admin" )">Add a Trainer</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action( "AMTrainer", "Admin" )">View all Trainer</a>
                        </div>
                    </li>

                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <p>
                    &nbsp; &nbsp;
                </p>
                <a class="btn btn-danger float-right" href="@Url.Action("Index", "Login")" role="button">Logout</a>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
