
@model ASM.Models.UserInfor

@{
    Layout = "~/Views/Admin/_LayoutForAdmin.cshtml";
    TempData["UN"] = TempData["UN"];
}

<div class="row-cols-sm-1">
    <div class="row-cols-sm-1" style="height: 700px;">
        <div class="form-input">
            <h1 class="title" style="width: 55%; padding: 3%;">Add Trainer</h1>
            @using (Html.BeginForm(FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "font-weight-bold" })

                    @Html.EditorFor(m => m.Email,
                     new
                     {
                       htmlAttributes = new { @class = "form-control" }
                     })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "font-weight-bold" })

                    @Html.EditorFor(m => m.Name,
                     new
                     {
                       htmlAttributes = new { @class = "form-control" }
                     })
                </div>
                <button type="submit" class="btn btn-success">Save</button>
            }
        </div>
        <div class="message">
            @if (!ViewData.ModelState.IsValid)
            {
                @Html.ValidationSummary(false, "Oops! something went wrong 😣", new { @class = "text-danger" });
            }
        </div>
    </div>
</div>




<style>

    .search {
        float: right;
    }

    .info {
        margin: 50px 20px;
        padding: 5% 20%;
    }

    .show-info {
        border: 1px solid #4a4b42;
        background-color: ivory;
        float: right;
        width: 55%;
        height: 400px;
    }

    .manage {
        width: 30%;
        height: 500px;
        float: left;
        text-align: center;
        padding: 3%;
    }

        .manage a {
            margin: 5px auto;
        }


    .message {
        width: 45%;
        height: auto;
        padding: 20px;
        float: right;
    }

    .form-input {
        float: left;
        border: 1px solid #dee2e6;
        border-radius: 10px;
        width: 50%;
        height: auto;
        padding: 4%;
        background-color: #d9bde8;
    }

    .title {
        font-size: 30px;
        color: #6057f6;
        margin-top: 5px;
        width: 20%;
    }

    .grid-view {
        margin: 20px auto;
        border: 1px solid #dee2e6;
        padding: 2%;
        float: left;
    }
</style>