@model ASM.Models.UserInfor
@{
    Layout = "~/Views/Admin/_LayoutForAdmin.cshtml";
    TempData["UN"] = TempData["UN"];
}


<div class="manage">
    <img src="https://png.pngtree.com/png-vector/20190411/ourlarge/pngtree-business-male-icon-vector-png-image_916468.jpg" alt="Alternate Text" width="70%" height="auto" /> <br />
    <a class="btn btn-primary" href="@Url.Action("EditStaff", new {id = TempData["StaffId"]})" role="button">Edit account</a> <br />
    <a role="button" class="btn btn-danger btn-sm" href="@Url.Action("DeleteTrainer", new {id = TempData["StaffId"]})">Delete Account</a>
    <br />
    <a class="btn btn-success" href="@Url.Action("Index","Admin")" role="button">Go back</a> <br />
</div>
<div class="show-info">
    <span class="title" style="margin-left: 30%">Staff Infomation</span> 
    <div class="info">
        @Html.LabelFor(m => m.UserName, htmlAttributes: new { @class = "font-weight-bold" }) :  @Html.DisplayFor(m => m.UserName) <br />
        @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "font-weight-bold" }) :  @Html.DisplayFor(m => m.Email) <br />
        @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "font-weight-bold" }) :  @Html.DisplayFor(m => m.Name) <br />
    </div>
</div>

