@model ASM.Models.UserInfor
@{
    Layout = "~/Views/Admin/_LayoutForAdmin.cshtml";
    TempData["UN"] = TempData["UN"];
}


<div class="manage">
    <img src="https://png.pngtree.com/png-vector/20190411/ourlarge/pngtree-business-male-icon-vector-png-image_916468.jpg" alt="Alternate Text" width="70%" height="auto" /> <br />
    <a class="btn btn-primary" href="@Url.Action("EditTrainer", new {id = TempData["StaffId"]})" role="button">Edit account</a> <br />
    <a role="button" class="btn btn-danger btn-sm" href="@Url.Action("DeleteTrainer", new {id = TempData["StaffId"]})">Delete Account</a>
    <br />
    <a class="btn btn-info" href="@Url.Action("ResetPassTrainer",new {id = TempData["StaffId"]})" role="button">Reset Password</a> <br />
    <a class="btn btn-success" href="@Url.Action("AMTrainer","Admin")" role="button">Go back</a> <br />
</div>
<div class="show-info">
    <span class="title" style="margin: 5px 30%;">Trainer Infomation</span>
    <div class="info" style="float: none">
        @Html.LabelFor(m => m.UserName, htmlAttributes: new { @class = "font-weight-bold" }) :  @Html.DisplayFor(m => m.UserName) <br />
        @Html.LabelFor(m => m.Email, htmlAttributes: new { @class = "font-weight-bold" }) :  @Html.DisplayFor(m => m.Email) <br />
        @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "font-weight-bold" }) :  @Html.DisplayFor(m => m.Name) <br />
    </div>
</div>



<style>

    .search {
        float: right;
    }

    .info {
        margin: 50px 20px;
        padding: 5% 20%;
    }

    .show-info {
        border: 1px solid #4a4b42;
        background-color: ivory;
        float: right;
        width: 55%;
        height: 400px;
    }

    .manage {
        width: 30%;
        height: 500px;
        float: left;
        text-align: center;
        padding: 3%;
    }

        .manage a {
            margin: 5px auto;
        }


    .message {
        width: 45%;
        height: auto;
        padding: 20px;
        float: right;
    }

    .form-input {
        float: left;
        border: 1px solid #dee2e6;
        border-radius: 10px;
        width: 50%;
        height: auto;
        padding: 4%;
        background-color: #d9bde8;
    }

    .title {
        font-size: 30px;
        color: #6057f6;
        margin-top: 5px;
        width: 20%;
    }

    .grid-view {
        margin: 20px auto;
        border: 1px solid #dee2e6;
        padding: 2%;
        float: left;
    }
</style>