
    @*// <h1 class="m-2 navbar-brand pl-45" href=""></h1>*@
   



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">




    @{
        var a = "ab";
        if (TempData["username"] != null)
        {
            a = TempData["username"].ToString();
        }

        TempData["username"] = a;

    }







    <a class="navbar-brand" href="@Url.Action("Index", "Trainee")">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ShowCourse", "Trainee")">ALL COURSE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ShowCourseAssign", "Trainee")">VIEW COURSEASSIGN</a>
            </li>


        </ul>
        <form class="form-inline my-2 my-lg-0">
            <p class="nav-item" style="margin-right: 10px; margin-top: 20px; color: #d0d6d4 "> @a</p>

        </form>
        <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-danger float-right" href="@Url.Action("Logout", "Login")" role="button">Logout</a>

        </form>
    </div>
</nav>
























<div class="container">
    @{ if (TempData["alert"] != null)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Attention:</strong> @TempData["alert"]!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    }
</div>


