
@{
    ViewBag.Title = "ShowCourse";
    Layout = "~/Views/Trainee/_LayoutTrainee.cshtml";
    TempData["user"] = TempData["user"];
}

@model IEnumerable<ASM.Models.CourseEntity>
<div style="background-image: url(https://premierpaintroller.com/wp-content/uploads/2018/06/50-Beautiful-and-Minimalist-Presentation-Backgrounds-03.jpg)">
    <div class="container">
        <h1 class="display-4">All Course</h1>
        @if (TempData["message"] != null)
        {
            ViewBag.Message = TempData["message"];
        }

        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Description)</th>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">&nbsp;</th>
                </tr>
            </thead>


            <tbody>
                @foreach (var c in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => c.Name)</td>
                        <td>@Html.DisplayFor(model => c.Description)</td>

                        @*                    <td>
                                <a type="button" class="btn btn-success btn-sm"
                                   href="@Url.Action("EditCourse", new {id = c.Id})">Edit</a>
                            </td>*@
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>