<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @{
        var a = "ab";
        if (TempData["user"] != null)
        {
            a = TempData["user"].ToString();
        }
        else
        {
            a = ViewBag.UN;
        }

        TempData["user"] = a;
    }

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">*@
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">*@

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  
</head>
<body>
  

    
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       
            <a class="nav-link" href="@Url.Action("SearchCourse", "Staff")">HOME</a>
       
        @*<a class="navbar-brand" href="@Url.Action("SearchCourse", "Staff")">Home</a>*@
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        TRAINEE
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("CreateTrainee", "Staff")">ADD TRAINEE</a>
                        <a class="dropdown-item" href="@Url.Action("ShowTrainee", "Staff")">ALL TRAINEE</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        COURSE
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("AddCourse", "Staff")">ADD COURSE</a>
                        <a class="dropdown-item" href="@Url.Action("SearchCourse", "Staff")">ALL COURSE</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        COURSE CATEGORY
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="@Url.Action("CreateCategory", "Staff")">ADD CATEGORY</a>
                        <a class="dropdown-item" href="@Url.Action("SearchCategory", "Staff")">ALL CATEGORY</a>
                       
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ShowTrainer", "Staff")">TRAINER</a>
                </li>

                <li style="margin-left:600px">
                    <a class="nav-link" href="#"> @a</a>
                </li>


            </ul>
          
            
            
            
            <form class="d-flex">
                <a class="btn btn-danger float-right" href="@Url.Action("Logout", "Login")" role="button">Logout</a>
            </form>
          
        </div>
    </nav>



    <div class="container">
        @{ if (TempData["alert"] != null)
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Attention:</strong> @TempData["alert"]!
                    <button style="float: right; border-radius: 90px;" type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
        }
    </div>

    <div>
        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
    <div role="alertdialog">
        @RenderSection("alertdialog", required: false)
    </div>
</body>

</html>
