@model ASM.Models.CourseCategoryEntity
@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/Staff/_LayoutFor Staff.cshtml";
    TempData["user"] = TempData["user"];
}
<br>
<br>

<style>
    body {
        background: #f3c538;
    }

    .forget-pwd > a {
        color: #dc3545;
        font-weight: 500;
    }

    .forget-password .panel-default {
        padding: 31%;
        margin-top: -27%;
    }

    .forget-password .panel-body {
        padding: 15%;
        margin-bottom: -50%;
        background: #fff;
        border-radius: 5px;
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    img {
        width: 40%;
        margin-bottom: 10%;
    }

    .btnForget {
        background: #c0392b;
        border: none;
    }

    .forget-password .dropdown {
        width: 100%;
        border: 1px solid #ced4da;
        border-radius: .25rem;
    }

        .forget-password .dropdown button {
            width: 100%;
        }

        .forget-password .dropdown ul {
            width: 100%;
        }
</style>






@if (!ViewData.ModelState.IsValid)
{
    @Html.ValidationSummary(false, "Error Summary", new { @class = "text-danger" })
}
<div class="container forget-password">
    <div class="row">
        <div class="col-md-12 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <img src="http://fpt.edu.vn/Content/images/assets/Logo-Greenwich.png" alt="car-key" border="0">
                        <h2 class="text-center">Create Category</h2>
                        
                        @using (Html.BeginForm(FormMethod.Post))
                        {
                            <div class="form-group">
                                @Html.LabelFor(m => m.Name,
                                  htmlAttributes: new { @class = "font-weight-bold" })


                                @Html.EditorFor(m => m.Name,
                                 new
                                 {
                                   htmlAttributes = new { @class = "form-control" }
                                 })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Description, new { @class = "font-weight-bold" })
                                @Html.EditorFor(m => m.Description,
                                new
                                {
                                  htmlAttributes = new { @class = "form-control" }
                                })
                            </div>
                            <br />

                            <button type="submit" class="btn btn-dark">Submit</button>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



