@model ASM.Models.UserInfor
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Staff/_LayoutFor Staff.cshtml";
}
<br />
<br />
<center><h1>Details</h1></center>
@using (Html.BeginForm(FormMethod.Post))
{
     <div style="background-image: url(https://premierpaintroller.com/wp-content/uploads/2018/06/50-Beautiful-and-Minimalist-Presentation-Backgrounds-03.jpg); float: left; margin-left: 200px;">


        <div class="form-group">
            @Html.LabelFor(m => m.Name,
             htmlAttributes: new { @class = "font-weight-bold", @style = "margin-left:20px" })


            @Html.EditorFor(m => m.Name,
            new
            {
                htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "width:250px; margin-left:20px; margin-right:20px" }
            })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "font-weight-bold", @style = "margin-left:20px" })
            @Html.EditorFor(m => m.Email,
           new
           {
               htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "width:250px; margin-left:20px; margin-right:20px" }
           })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Toeic, new { @class = "font-weight-bold", @style = "margin-left:20px" })
            @Html.EditorFor(m => m.Toeic,
           new
           {
               htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "width:250px; margin-left:20px; margin-right:20px" }
           })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Age, new { @class = "font-weight-bold", @style = "margin-left:20px" })
            @Html.EditorFor(m => m.Age,
           new
           {
               htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "width:250px; margin-left:20px; margin-right:20px" }
           })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DoB, new { @class = "font-weight-bold", @style = "margin-left:20px" })
            @Html.EditorFor(m => m.DoB,
           new
           {
               htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "width:250px; margin-left:20px; margin-right:20px" }
           })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Experience, new { @class = "font-weight-bold", @style = "margin-left:20px" })
            @Html.EditorFor(m => m.Experience,
           new
           {
               htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "width:250px; margin-left:20px; margin-right:20px" }
           })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Location, new { @class = "font-weight-bold", @style = "margin-left:20px" })
            @Html.EditorFor(m => m.Location,
           new
           {
               htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "width:250px; margin-left:20px; margin-right:20px" }
           })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ProgrammingLanguage, new { @class = "font-weight-bold", @style = "margin-left:20px" })
            @Html.EditorFor(m => m.ProgrammingLanguage,
           new
           {
               htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "width:250px; margin-left:20px; margin-right:20px" }
           })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Department, new { @class = "font-weight-bold", @style = "margin-left:20px" })
            @Html.EditorFor(m => m.Department,
           new
           {
               htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "width:250px; margin-left:20px; margin-right:20px" }
           })
        </div>
        
    </div>


    <div style="float:left; margin-left:100px;">
        <br />
        <br />
        <br />
        <center>
            <a class="btn btn-danger"href="@Url.Action("Edit", new {id =TempData["StaffId"]})" role="button">Edit</a>
            <br />
            <br />
            <br />
            <a class="btn btn-primary"href="@Url.Action("DeleteTrainee", new {id =TempData["StaffId"]})" role="button">Delete</a>
        </center>
    </div>
}

