 @model IEnumerable<ASM.Models.UserInRole>
@{
    ViewBag.Title = "ShowTrainee";
    Layout = "~/Views/Staff/_LayoutFor Staff.cshtml";
    TempData["user"] = TempData["user"];
}
<br />
<br />

<div class="row-cols-sm-1">
    <div class="title">
        <span class="title font-weight-bold">All Trainee</span>
    </div>
    <div class="row-cols-md-1">
        <table class="table">
            <thead>
                <tr style="border: 1px solid #8b46be;">
                    <th scope="col">NO</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Email)</th>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var c in Model)
                {
                    <tr style="border: 1px solid #8b46be;">
                        <td>@Html.DisplayFor(model => c.Name)</td>
                        <td>@Html.DisplayFor(model => c.Email)</td>
                        <th scope="col">&nbsp;</th>
                        <td><a class="btn btn-primary" href="@Url.Action("Details", new {id = c.UserId})" role="button">ViewMore</a></td>
                       
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

