@model IEnumerable<ASM.Models.UserInfor>
@{
    ViewBag.Title = "ShowTrainee";
    Layout = "~/Views/Staff/_LayoutFor Staff.cshtml";
}

<div class="row-cols-sm-1">
    <div class="title">
        <span class="title font-weight-bold">All Staff</span>
    </div>
    <div class="row-cols-md-1">
        <table class="table">
            <thead>
                <tr style="border: 1px solid #8b46be;">
                    <th scope="col">NO</th>
                    <th scope="col">@Html.DisplayNameFor(m => m.UserName)</th>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var i = 1;
                }
                @foreach (var c in Model)
                {
                    <tr style="border: 1px solid #8b46be;">
                        <th scope="row">@i</th>
                        <td>@Html.DisplayFor(m => c.UserName)</td>
                        <th scope="col">&nbsp;</th>
                        <td><a class="btn btn-primary" href="@Url.Action("Edit", new {id = c.Id})" role="button">ViewMore</a></td>
                        <td>
                            <a role="button" class="btn btn-danger btn-sm" href="@Url.Action("DeleteStaff", new {id = c.Id })">Delete Account</a>
                        </td>
                    </tr>
                    i++;
                }

            </tbody>
        </table>
    </div>
</div>

