@model IEnumerable<ASM.Models.UserInRole>
@{
    ViewBag.Title = "ShowTrainee";
    Layout = "~/Views/Staff/_LayoutFor Staff.cshtml";
    TempData["user"] = TempData["user"];
}
<br />
<br />
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<div class="container">
    <input id="myInput" type="text" placeholder="Search.." class="row-cols-md-1">
    <br />
    <br />
    <div class="row-cols-sm-1">
        <div class="title">
            <h1 class="display-4" style="margin-left:500px">All Trainee</h1>
        </div>
        <div class="row-cols-md-1">

            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr >
                        <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Email)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Toeic)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Language)</th>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @foreach (var c in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => c.Name)</td>
                            <td>@Html.DisplayFor(model => c.Email)</td>
                            <td>@Html.DisplayFor(model => c.Toeic)</td>
                            <td>@Html.DisplayFor(model => c.Language)</td>
                            <th scope="col">&nbsp;</th>
                            <td><a class="btn btn-primary" href="@Url.Action("Details", new {id = c.UserId})" role="button">ViewMore</a></td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

</div>

